{% extends "temporale/base.html" %}{% load i18n %}{% csrf_token %}
{% block title %}{% trans "Add Event" %}{% endblock %}
{% block temporale_content %}
    <h2>{% trans "Add Event" %}</h2>
    {{ event_form.non_field_errors }}
    {{ recurring_form.non_field_errors }}
    {% if event_form.errors or recurrence_form.errors %}
    <p>{% trans "Please fix any errors." %}</p>
    {% endif %}
    <form method="post" action="." name="add_event">
      {% include "adhesive/notes.html" %}
        <p class="field_wrapper">
          <span class="label"><a href="../" class="button"><span class="ui-icon ui-icon-arrowthick-1-w"></span> {% trans "Back" %} </a></span>
          <span class="field">
            <a href="javascript:document.forms['add_event'].submit();" class="button"><span class="ui-icon ui-icon-disk"></span> {% trans "Save" %} </a>
          </span>
        </p>
        {% include "temporale/event_form_part.html" %}
        {% include "temporale/recurring_form_part.html" %}
    </form>

{% endblock %}

{% block rightcol %}
{% if event_form.errors or recurrence_form.errors %}
<dl class="messages">
  {% for field, errors in event_form.errors.iteritems %}
  <dt class="error">{% trans field %}</dt>
    {% for error in errors %}
    <dd class="error">{{ error }}</dd>
    {% endfor %}
  {% endfor %}
  {% for field, errors in recurrence_form.errors.iteritems %}
  <dt class="error">{% trans field %}</dt>
    {% for error in errors %}
    <dd class="error">{{ error }}</dd>
    {% endfor %}
  {% endfor %}
</dl>
{% endif %}

{% endblock %}
