{% extends "root.html" %}
{% load i18n adminmedia %}

{% if "calendar" in site_profile.modlist %}

{% block title %}{% trans "Calendar" %}{% endblock %}

{% block extra_head %}
{# CSS and JavaScript for date picker #}
<link rel="stylesheet" type="text/css" href="{{ admin_media_prefix }}css/widgets.css" />   
<script src="{{ admin_media_prefix }}js/core.js" type="text/javascript"></script> 
<script src="{{ admin_media_prefix }}js/calendar.js" type="text/javascript"></script> 
<script src="{{ admin_media_prefix }}js/admin/DateTimeShortcuts.js" type="text/javascript"></script> 
{% endblock %}

{% endif %}

{% block main_content %}
{% if "calendar" in site_profile.modlist %}
{% block calendar_content %}{% endblock %}
{% else %}
<p>{% trans "Sorry, you’re not cleared for the <em>temporale</em> module!" %}</p>
{% endif %}
{% endblock %}
